# Allow a basic settings.php that includes local.settings.php file for local env
sites/*/settings.php  
sites/*/local.settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore local dev environment files
.project
.buildpath